# Node
**/node_modules/
npm-debug.log
yarn-error.log

# Angular build output
**/dist/
**/.angular/cache
/tmp
/out-tsc
/bazel-out

# .NET build artifacts
**/bin/
**/obj/
**/debug/
*.dll
*.exe
*.pdb
*.cache
*.log
