# Ignore .NET build output
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.log

# Ignore Visual Studio folders
.vs/
*.vsidx
.vscode/

# Ignore Angular build output
dist/
out-tsc/
node_modules/
npm-debug.log
yarn-error.log

# Environment & config
.env
*.env.local
*.env.development
*.env.production

# OS files
.DS_Store
Thumbs.db
