.table td, .table th {
  vertical-align: middle;
  word-wrap: break-word;
}

.badge {
  color: black;
  font-size: 0.85rem;
  padding: 0.4em 0.6em;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 1.5rem;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 1rem;
    background-color: #f8f9fa;
  }

  .table tbody td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 0.95rem;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .table tbody td:last-child {
    border-bottom: none;
  }

  .badge {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: 1.5rem;
  }
}
